# App Configuration
APP_URL=https://ais-dev-lgp6fugbafbufrayw2r4n4-24812837185.us-west1.run.app

# Mercado Livre API
ML_APP_ID=
ML_SECRET_KEY=

# WooCommerce API
VITE_WOO_URL=
VITE_WOO_CK=
VITE_WOO_CS=

# Gemini API
GEMINI_API_KEY=
